@page
@model LearningAspNetCore_CoursesList.Pages.Courses.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding:30px">
            <div class="form-group ">
                <div class="row">
                    <div class="col-sm-2"> <label asp-for="Course.Name"></label></div>
                    <div class="col-sm-4"> <input asp-for="Course.Name" class="form-control" /></div>
                </div>
            </div>
        </div>
    </form>
</div>