@page
@model LearningAspNetCore_CoursesList.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "Index";
}
<br />

<div class="container row">
    <div class="col-6 ">
        <h2 class="text-info">Courses list</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Create course</a>
    </div>
</div>
<hr />