@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />

<div class="text-center">
    <h1>Learning Asp Net Core 2.2</h1>
</div>

<hr />

<div class="text-center">
    <h1 class="display-4">What was used in this project: </h1>

    <h2>Dependency injection</h2>
    <h2>Used Code First method for database creating.</h2>
    <h2>[TempData]</h2>
</div>