@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CoursesList</h1>
    <p><a href="https://github.com/AvgustPol/CoursesList">Source code</a> by <a href="www.linkedin.com/in/vlasiuk-anton"><strong>Anton Vlasiuk</strong></a></p>

    <h2>
        [Eng]
    </h2>
    <h3>
        <small>
            This project is created for a more detailed study of all the basics and advanced techniques of an ASP.NET Core 2.2
            Study materials - Udemy course "ASP.NET Core 2.2 Razor Pages"
        </small>
    </h3>

    <h2>
        [Pl]
    </h2>
    <h3>
        <small>
            Ten projekt jest stworzony do bardziej szczegółowego nauczania z podstaw i zaawansowane technik ASP.NET Core 2.2
            Materiały szkoleniowe - kurs Udemy "ASP.NET Core 2.2 Razor Pages"
        </small>
    </h3>

    <h2>
        [Rus]
    </h2>
    <h3>
        <small>
            Этот проект создан для более детального изучения основ и более продвинутых техник ASP.NET Core 2.2
            Учебные материалы - курс Udemy "ASP.NET Core 2.2 Razor Pages"
        </small>
    </h3>
</div>